@model IEnumerable<Asp.net_MVC_TP_9.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ 
    decimal moyenneClass = 0M;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Mat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eleve.Nom)
        </th>
        <th>
            @Html.DisplayName("moyenne")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Mat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eleve.Nom)
            </td>
            @{
                decimal moyenne = (item.Note1 + item.Note2) / 2 ;
                moyenneClass += moyenne;
            }
            <td>
                @Html.DisplayFor(x=>moyenne)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Mat }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Mat }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Mat })
            </td>
        </tr>
    }

</table>
@{ 
    //string moyClass = ViewBag.MoyenneClass;
    moyenneClass /= Model.Count();
}
@Html.Label("Moyenne De Class")
@Html.DisplayFor(x=>moyenneClass)